/* Sticky footer styles
-------------------------------------------------- */
@font-face {
    font-family: 'moonhouseregular';
    src: url('../fonts/moonhouse-webfont.woff2') format('woff2'),
         url('../fonts/moonhouse-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

.heading {
	display:inline;
	vertical-align:text-bottom;
	position:relative;
	top:40px;
	font-family:moonhouseregular;
	font-weight:bold;
	margin-left:10px;
	color:#000000;
	font-size:42px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

.help-p{
  text-align:justify;
  margin-left:7px;
  margin-right:7px;
}